---
title: Список гимнов Сборника песен Церкви Ингрии
layout: layouts/base.pug
---
style.

section.hero
    .hero-body.container
        h1.title.is-2= title
each hymns, hymnGroup in Object.fromEntries(collections.hymnsGroup)
    section.hero
        .hero-body
            h1.title.is-3= hymnGroup
            ul 
                each hymn in hymns
                    li
                        a(href=hymn.url)
                            .columns.is-mobile
                                .column.is-1.is-size-4.has-text-black-bis= hymn.fileSlug
                                .column.is-11.is-size-4.has-text-grey-dark= hymn.data.title