doctype html
is-land(on:visible)
    div#paging-app(v-scope='Paging()')
        template(data-island)
            .block 
                nav.pagination.is-centered(role="navigation", aria-label="pagination")
                    a.pagination-previous(
                        @click="goto(prev())"
                        v-show="!isFirst()"
                    ) &#8678;
                    ul.pagination-list
                        li(v-for="(item, idx) in list" v-bind:key="item")
                            a.pagination-link.is-capitalized(
                                v-if="idx === index()"
                                v-html="format(item)"
                                is-current
                            )
                            a.pagination-link.is-capitalized(
                                v-else
                                @click="goto(list[idx])" 
                                v-html="format(item)"
                            )
                    a.pagination-next(
                        v-show="!isLast()" 
                        @click="goto(next())"
                    ) &#8680;
    template(data-island)
        script(type="module").
            import { createApp } from "https://unpkg.com/petite-vue@0.4.1/dist/petite-vue.es.js";
            function Paging(props) { return {
                current: window.location.pathname.replace(/\/+$/g, ""),
                list: window.atob(sessionStorage.getItem("list")).split(";"),
                index() { return this.list.indexOf(this.current); },
                isFirst() { return this.index() === 0; },
                isLast() { return this.index() === this.list.length - 1; },
                prev() { return this.list[this.index() - 1]; },
                next() { return this.list[this.index() + 1]; },
                format(link) {
                    const match = link.split("/");
                    return match[match.length - 1];
                },
                goto(link) {
                    if (link) {
                        location.href=link;
                    }
                }
            }}
            createApp({Paging}).mount("#paging-app");
